:root {
    --clr-primary-400-hsl: 10, 79%, 65%;
    --clr-accent-300-hsl: 186, 34%, 60%;

    --clr-neutral-800-hsl: 25, 47%, 15%;
    --clr-neutral-500-hsl: 28, 10%, 53%;
    --clr-neutral-200-hsl: 27, 66%, 92%;
    --clr-neutral-110-hsl: 33, 100%, 98%;

    --clr-primary-400: hsl(var(--clr-primary-400-hsl));
    --clr-accent-300: hsl(var(--clr-accent-300-hsl));
    --clr-neutral-800: hsl(var(--clr-neutral-800-hsl));
    --clr-neutral-500: hsl(var(--clr-neutral-500-hsl));
    --clr-neutral-200: hsl(var(--clr-neutral-200-hsl));
    --clr-neutral-110: hsl(var(--clr-neutral-110-hsl));

    --ff-default: 'DM Sans', sans-serif;
    --fs-p: 18px;
    --dynamic-font-size: clamp(0.96rem, 0.902rem + 0.248vw, 1.125rem);
    --title-font-size: clamp(1.519rem, 1.34rem + 0.761vw, 2.025rem);
    --fw-regular: 400;
    --fw-bold: 700;
    --border-radius: 1rem;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    min-height: 100svh;
    display: grid;
    place-items: center;
    background-color: var(--clr-neutral-200);
    font-family: var(--ff-default);
    font-size: var(--fs-p);
}

main {
    width: min(91.4%, 33.75rem);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

strong, b {
    font-weight: var(--fw-bold);
}

.balance-card {
    background-color: var(--clr-primary-400);
    display: flex;
    justify-content: space-between;
    padding-block: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
    padding-inline: clamp(1.25rem, 0.986rem + 1.127vw, 2rem);
    color: var(--clr-neutral-110);
    align-items: center;
    line-height: 0.75;
    border-radius: calc(var(--border-radius) * 1.2);
}

.logo {
    width: clamp(3.75rem, 3.486rem + 1.127vw, 4.5rem);
}

.balance {
    display: grid;
    row-gap: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
}

.balance-title {
    font-size: clamp(0.96rem, 0.902rem + 0.248vw, 1.125rem);
}

.balance-amount {
    font-size: var(--title-font-size);
}

.summary {
    padding-block: clamp(1.813rem, 1.548rem + 1.127vw, 2.563rem);
    padding-inline: clamp(1.25rem, 0.788rem + 1.972vw, 2.563rem);
    background-color: var(--clr-neutral-110);
    color: var(--clr-neutral-500);
    border-radius: var(--border-radius);
}

.summary-title {
    color: var(--clr-neutral-800);
    font-size: var(--title-font-size);
}

.chart {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr auto;
    row-gap: 1rem;
    column-gap: clamp(0.75rem, 0.596rem + 0.657vw, 1.188rem);
    padding-block-end: clamp(1.813rem, 1.614rem + 0.845vw, 2.375rem);
    margin-block-start: calc(2 * 2.1875rem);
}

.bar {
    border-radius: calc(var(--border-radius) * 0.3);
    --fill-color: hsl(var(--clr-primary-400-hsl));
    background-color: var(--fill-color);
    height: 3rem;
    align-self: end;
    position: relative;
}

.bar:hover,
.bar:active,
.bar:focus {
    --fill-color: hsl(var(--clr-primary-400-hsl), 0.8);
    cursor: pointer;
}

.bar span {
    display: none;
}

.bar:hover span {
    position: absolute;
    top: -3rem;
    display: inline-block;
    width: 4.75rem;
    left: -30%;
    color: var(--clr-neutral-110);
    background-color: var(--clr-neutral-800);
    text-align: center;
    border-radius: calc(var(--border-radius) * 0.3);
    padding-block: 0.875rem;
    font-weight: var(--fw-bold);
    line-height: 0.67;
}

.today {
    --fill-color: hsl(var(--clr-accent-300-hsl));
}

.today:hover,
.today:active,
.today:focus {
    --fill-color: hsl(var(--clr-accent-300-hsl), 0.8)
}
.day {
    text-align: center;
    font-size: clamp(0.7rem, 0.55rem + 0.638vw, 1.125rem);
}

.summary-details {
    border-block-start: 1px solid var(--clr-neutral-200);
    padding-block-start: clamp(1.813rem, 1.614rem + 0.845vw, 2.375rem);
}

.summary-caption {
    font-size: var(--dynamic-font-size);
}

.summary-numbers {
    display: flex;
    justify-content: space-between;
    line-height: 0.75;
    margin-block-start: 1rem;
}

.summary-amount {
    color: var(--clr-neutral-800);
    font-size: clamp(1.95rem, 1.686rem + 1.127vw, 2.7rem);
    line-height: clamp(2.34rem, 2.451rem + -0.473vw, 2.025rem);
    letter-spacing: clamp(0rem, -0.022rem + 0.094vw, 0.063rem);
}

.percentage {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    font-size: var(--dynamic-font-size);
}

.percentage-amount {
    text-align: end;
    color: var(--clr-neutral-800);
}

.percentage-details span {
    vertical-align: bottom;
}